<section>
    <header>
        <p>Kanban Project Management Tool</p>
        <img src="" alt="Question-logo">
        <img src="" alt="Circle with the monogram">
    </header>
    <nav>
        <img src="" alt="Join-logo">
        <ul>
            <li><a href="#">Summary</a></li>
            <li><a href="#">Add Task</a></li>
            <li><a href="#">Board</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Impressum</a></li>
        </ul>
    </nav>
    <div class="part-line"></div>
</section>
