@import '../../styles.scss';

section {
    background: $background-color;
    height: 100vh;
    position: relative;
    @include center();
}

.part-line {
    width: 3px;
    height: 100vh;
    background: $parting-color;
    position: absolute;
    left: 250px;
}