<section>
    <header>
        <p>Kanban Project Management Tool</p>
        <img src="" alt="Question-logo">
        <img src="" alt="Circle with the monogram">
    </header>
    <nav>
        <div>
            <img src="Join logo vector.png" alt="Join-logo" class="logo">
        </div>
        <div>
            <ul>
                <li><a href="#">Summary</a></li>
                <li><a href="#">Add Task</a></li>
                <li><a href="#">Board</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Impressum</a></li>
            </ul>
        </div>
    </nav>
    <div class="part-line"></div>
</section>
