<nav>
    <div>
        <img src="Join logo vector.png" alt="Join-logo" class="logo">
    </div>
    <div>
        <ul>
            <li><a href="#">Summary</a></li>
            <li><a href="#">Add Task</a></li>
            <li><a href="#">Board</a></li>
            <li><a routerLink="contacts">Contacts</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><a routerLink="privacy-policy">Privacy Policy</a></li>
            <li><a routerLink="imprint">Impressum</a></li>
        </ul>
    </div>
</nav>
