<nav>
    <div>
        <img src="Join logo vector.png" alt="Join-logo" class="logo">
    </div>
    <div>
        <ul>
            <div class="menu"><li><a href="#">Summary</a></li></div>
            <div class="menu"><li><a routerLink="add-task">Add Task</a></li></div>
            <div class="menu"><li><a routerLink="board">Board</a></li></div>
            <div class="menu"><li><a routerLink="contacts">Contacts</a></li></div>
        </ul>
    </div>
    <div>
        <ul>
            <div class="menu"><li><a routerLink="privacy-policy">Privacy Policy</a></li></div>
            <div class="menu"><li><a routerLink="imprint">Impressum</a></li></div>
        </ul>
    </div>
</nav>
