@import '../../../styles.scss';

header {
    position: absolute;
    top: 0px;
    left: 250px;
    width: calc(100vw - 250px);
    height: 100px;
    @include center($jc: space-between);
    padding: 30px;
    color: $text-color;
}

.question-container {
    width: 25px;
    height: 25px;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    @include center();
    cursor: pointer;
    a {
        color: $text-color;
        text-decoration: none;
    }
}

.user-circle {
    width: 48px;
    height: 48px;
    border: 2px solid whitesmoke;
    border-radius: 48px;
    @include center();
    cursor: pointer;
    p {
        font-size: 22px;
    }

}

.info {
    @include center($g: 8px);
}